<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>麻雀得点計算サイト</title>
    </head>
    <body>
        <h1>麻雀得点計算サイト</h1>
        <p>このサイトでは、麻雀の得点計算を行うことができます。</p>
        <P>以下のフォームに手牌の画像とドラなどの情報を入力してください</P>

        <form action="api/calculate" method="post" enctype="multipart/form-data">
            <label for="image">手牌の画像:</label>
            <input type="file" id="image" name="image" accept="image/*" required><br><br>
            <!-- 和了り方 -->
            <label for="is_tsumo">和了り方:</label>
            <select id="is_tsumo" name="is_tsumo" required>
                <option value="true">ツモ</option>
                <option value="false">ロン</option>
            </select><br>
            <!-- 親子選択 -->
            <label for="is_oya">親/子:</label>
            <select id="is_oya" name="is_oya" required>
                <option value="true">親</option>
                <option value="false">子</option>
            </select><br>
            <!-- ドラの選択 -->
            <label for="dora_indicators">ドラ:</label>
            <input type="text" id="dora_indicators" name="dora_indicators" placeholder="例: 5m, 2p"><br>
            <!-- 裏ドラの選択 -->
            <label for="ura_dora_indicators">裏ドラ:</label>
            <input type="text" id="ura_dora_indicators" name="ura_dora_indicators" placeholder="例: 3s, 6z"><br>
            <!-- 赤ドラの選択 -->
            <label for="aka_dora_indicators">赤ドラ:</label>
            <input type="text" id="aka_dora_indicators" name="aka_dora_indicators" placeholder="例: 5m, 2p"><br>
            <!-- 場風の選択　-->
            <label for="bakaze">場風:</label>
            <select id="bakaze" name="bakaze" required>
                <option value="1z">東</option>
                <option value="2z">南</option>
                <option value="3z">西</option>
                <option value="4z">北</option>
            </select><br>
            <!-- 自風の選択 -->
            <label for="jikaze">自風:</label>
            <select id="jikaze" name="jikaze" required>
                <option value="1z">東</option>
                <option value="2z">南</option>
                <option value="3z">西</option>
                <option value="4z">北</option>
            </select><br>
            <!-- その他 -->
            <label for="is_renchan">連荘:</label>
            <input type="checkbox" id="is_renchan" name="is_renchan"><br>
            <label for="is_chankan">槍槓:</label>
            <input type="checkbox" id="is_chankan" name="is_chankan"><br>
            <label for="is_haitei">海底:</label>
            <input type="checkbox" id="is_haitei" name="is_haitei"><br>
            <label for="is_haitei">河底:</label>
            <input type="checkbox" id="is_kaitei" name="is_kaitei"><br>
            <label for="is_ippatsu">一発:</label>
            <input type="checkbox" id="is_ippatsu" name="is_ippatsu"><br>
            <label for="is_riichi">リーチ:</label>
            <input type="checkbox" id="is_riichi" name="is_riichi"><br>
            <label for="is_tenhou">天和:</label>
            <input type="checkbox" id="is_tenhou" name="is_tenhou"><br>
            <label for="is_chiihou">地和:</label>

            <input type="submit" value="計算する">
        </form>
    </body>
</html>